@page
@model ChangePasswordModel

@{
    ViewData["Title"] = "Đổi mật khâu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/layout-partial.css">


<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
            <div class="user-info ml-2 mb-2" style="display:flex;">
                <img src="@Model.ProfilePictureUrl" Avatar" class="img-thumbnail" style=" max-height: 380px; width: 330px;margin-right: 8px;" />
            </div>

            <div class="list-group">
                <a asp-area="Identity" asp-page="/Account/Manage/Index"
                   class="list-group-item list-group-item-action sidebar-item active">
                    <i class="fas fa-user-circle"></i> Thông tin tài khoản
                </a>

                <a asp-area="" asp-controller="Favorite" asp-action="MyFavorites"
                   class="list-group-item list-group-item-action sidebar-item">
                    <i class="fas fa-heart"></i> Tủ sách của tôi
                </a>
            </div>
        </div>

        <!-- Profile form -->
        <div class="col-md-9">
            <form id="profile-form" enctype="multipart/form-data" method="post" class="p-4 border rounded bg-white">
                <div class="list-group-item mb-4" style="display:flex; justify-content:space-between;">
                    <div>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class="fas fa-user"></i> <span style="font-weight:bold">
                                Thông tin tài khoản
                            </span>
                        </a>
                    </div>
                    <div>
                        <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                            <i class="fa-solid fa-lock"></i>
                            <span style="font-weight:bold; margin-left:5px;">
                                Đổi mật khẩu
                            </span>
                        </a>
                    </div>
                </div>

                <partial name="_StatusMessage" for="StatusMessage" />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <label asp-for="Input.OldPassword" class="form-label"></label>
                <div class="form-floating mb-3 input-wrapper">
                    <input id="OldPassword" asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="" type="password" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    <i id="toggleOldPassword" class="fa-solid fa-eye toggle-icon"></i>
                </div>

                <label asp-for="Input.NewPassword" class="form-label"></label>
                <div class="form-floating mb-3 input-wrapper">
                    <input id="NewPassword" asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" type="password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    <i id="toggleNewPassword" class="fa-solid fa-eye toggle-icon"></i>
                </div>

                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <div class="form-floating mb-3 input-wrapper">
                    <input id="ConfirmPassword" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" type="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <i id="toggleConfirmPassword" class="fa-solid fa-eye toggle-icon"></i>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary" style="margin-top: 10px">Cập nhật mật khẩu</button>
            </form>
        </div>
    </div>
</div>


<script src="~/js/identity-manage-pass.js"></script>
