@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Về chúng tôi";
}

<link rel="stylesheet" href="~/css/footer.css">

<div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3"><strong> Về chúng tôi </strong></h1>
        <p>Chúng tôi là những sinh viên đầy nhiệt huyết, luôn nỗ lực học tập và phát triển bản thân để cống hiến tốt nhất cho cộng đồng.</p>
    </div>

    <hr />
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item rounded overflow-hidden shadow-lg">
                <div class="position-relative">
                    <img class="img-fluid rounded-circle border border-3 border-primary" src="~/images/ava.jpg" alt="Hồ Nhật Quang" style="width: 150px; height: 150px; object-fit: cover; margin: 15px auto;">
                    <div class=" start-50 top-100 translate-middle d-flex align-items-center justify-content-center" style="gap: 10px; ">
                        <a class="btn btn-outline-primary btn-sm" href="https://www.facebook.com/One.champ.16/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-outline-primary btn-sm" href="https://twitter.com/MrBeast" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-sm" href="https://www.instagram.com/quangtuoitree/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="fw-bold mb-1">Hồ Nhật Quang</h5>
                    <small>Sinh viên</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item rounded overflow-hidden shadow-lg">
                <div class="position-relative">
                    <img class="img-fluid rounded-circle border border-3 border-primary" src="~/images/avatar-2.jpg" alt="Nguyễn Minh Thắng" style="width: 150px; height: 150px; object-fit: cover; margin: 15px auto;">
                    <div class=" start-50 top-100 translate-middle d-flex align-items-center justify-content-center" style="gap: 10px; ">
                        <a class="btn btn-outline-primary btn-sm" href="https://www.facebook.com/profile.php?id=100007843151965" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-outline-primary btn-sm" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-sm" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="fw-bold mb-1">Nguyễn Minh Thắng</h5>
                    <small>Sinh viên</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-item rounded overflow-hidden shadow-lg">
                <div class="position-relative">
                    <img class="img-fluid rounded-circle border border-3 border-primary" src="~/images/ava3.png" alt="Nguyễn Phúc Vĩnh" style="width: 150px; height: 150px; object-fit: cover; margin: 15px auto;">
                    <div class=" start-50 top-100 translate-middle d-flex align-items-center justify-content-center" style="gap: 10px; ">
                        <a class="btn btn-outline-primary btn-sm" href="https://www.facebook.com/FinnXGam" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-outline-primary btn-sm" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-sm" href="https://www.instagram.com/npvinh_203/?utm_source=ig_web_button_share_sheet"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4">
                    <h5 class="fw-bold mb-1">Nguyễn Phúc Vĩnh</h5>
                    <small>Sinh viên</small>
                </div>
            </div>
        </div>
    </div>
</div>
