@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Quyền riêng tư";
}

<link rel="stylesheet" href="~/css/footer.css">

<div class="container">
    <h1>Điều khoản Bảo mật</h1>
    <hr />

    <div class="content-box">
        <p>
            <strong>1. Thông tin thu thập:</strong><br>
            Trang web thu thập thông tin cá nhân như tên, địa chỉ email, địa chỉ IP và thông tin thanh toán khi người dùng đăng ký tài khoản, mua hàng hoặc tham gia các chương trình khuyến mãi.
        </p>
        <p>
            <strong>2. Mục đích sử dụng thông tin:</strong><br>
            Thông tin cá nhân được sử dụng để xác định người dùng, cung cấp dịch vụ, xử lý đơn hàng, tùy chỉnh trải nghiệm và gửi thông tin quảng cáo.
        </p>
        <p>
            <strong>3. Chia sẻ thông tin:</strong><br>
            Trang web có thể chia sẻ thông tin cá nhân với đối tác bên thứ ba như nhà xuất bản hoặc nhà vận chuyển để cung cấp dịch vụ.
        </p>
        <p>
            <strong>4. Quyền lợi và lựa chọn của người dùng:</strong><br>
            Người dùng có quyền truy cập, chỉnh sửa hoặc xóa thông tin cá nhân của họ bất cứ lúc nào. Họ cũng có thể từ chối nhận thông tin tiếp thị.
        </p>
        <p>
            <strong>5. Bảo mật thông tin:</strong><br>
            Trang web áp dụng biện pháp bảo mật để bảo vệ thông tin cá nhân của người dùng...
        </p>
    </div>

    <footer>
        <p>© 2024 BookWeb. All rights reserved.</p>
    </footer>
</div>

