@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Dịch vụ của chúng tôi";
}

<div class="row g-5 align-items-center">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-100" src="~/images/Sach-hay.jpg">
        </div>
    </div>

    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4"><strong>Bảng giá dịch vụ</strong></h1>

        <hr />
        <p><i class="fa fa-check text-primary me-3"></i>Cung cấp hàng ngàn đầu sách mới mỗi tuần</p>
        <p><i class="fa fa-check text-primary me-3"></i>Đọc sách trực tuyến mọi lúc, mọi nơi</p>
        <p><i class="fa fa-check text-primary me-3"></i>Đọc sách miễn phí hoặc với chi phí hợp lý</p>
        <p><i class="fa fa-check text-primary me-3"></i>Giao diện thân thiện, dễ dàng tìm kiếm sách yêu thích</p>
        <p><i class="fa fa-check text-primary me-3"></i>Cập nhật nhanh chóng các sách hot, sách bán chạy</p>
        <p><i class="fa fa-check text-primary me-3"></i>Chức năng đánh dấu sách đã đọc và lưu lại các mục yêu thích</p>

        <a class="btn btn-primary py-3 px-5 mt-3" href="#">Sớm ra mắt</a>
    </div>
</div>
