@{
    ViewData["Title"] = "TermOfUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Điều khoản sử dụng";
}

<link rel="stylesheet" href="~/css/footer.css">

<div class="container">
    <h1>Điều khoản Sử dụng</h1>

    <hr />
    <div class="content-box">
        <p>Bằng cách truy cập và sử dụng trang web này, bạn đồng ý tuân thủ các điều khoản và điều kiện sau đây:</p>
        <p>
            <strong>1. Sử dụng trang web:</strong><br>
            Bạn đồng ý sử dụng trang web này chỉ cho mục đích hợp pháp và theo các điều khoản được quy định trong Điều khoản Sử dụng này.
        </p>
        <p>
            <strong>2. Bản quyền:</strong><br>
            Tất cả nội dung trên trang web này, bao gồm văn bản, hình ảnh và tài liệu, thuộc quyền sở hữu của chúng tôi hoặc các bên sở hữu bản quyền. Bạn không được sao chép, sửa đổi hoặc phân phối nội dung này mà không có sự cho phép từ chúng tôi.
        </p>
        <p>
            <strong>3. Tài khoản:</strong><br>
            Khi bạn đăng ký tài khoản trên trang web này, bạn chịu trách nhiệm duy trì bảo mật thông tin đăng nhập của mình và thông tin tài khoản.
        </p>
        <p>
            <strong>4. Hủy bỏ và chấm dứt:</strong><br>
            Chúng tôi có quyền hủy bỏ hoặc tạm ngưng tài khoản của bạn nếu chúng tôi nghi ngờ rằng bạn vi phạm Điều khoản Sử dụng.
        </p>
        <!-- Thêm các mục khác -->
        <p>
            <strong>5. Bảo mật:</strong><br>
            Chúng tôi cam kết bảo mật thông tin cá nhân của bạn. Tuy nhiên, bạn cũng cần đảm bảo bảo mật tài khoản của mình.
        </p>
    </div>

    <footer>
        <p>&copy; 2024 Công ty TVQ Bokks. Tất cả quyền lợi được bảo lưu.</p>
    </footer>
</div>
