<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booksto - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/css/typography.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/identity.css">

</head>

<body>
    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div class="container-fluid p-0">
            <div class="row no-gutters" style="margin-top:-15px;">
                <!-- Left Image -->
                <div class="col-lg-4 col-md-4 d-none d-md-block">
                    <img src="~/images/All I Need is a Little Cabin in the Woods (25 Photos).png" alt="Left Image" class="full-screen-img">
                </div>

                    @RenderBody()

                <!-- Right Image -->
                <div class="col-lg-4 col-md-4 d-none d-md-block">
                    <img src="~/images/interior design.png" alt="Right Image" class="full-screen-img">
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <script src="~/js/identity-account.js"></script>

</body>

</html>
