@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Quên tài khoản?";
    Layout = "~/Areas/Identity/Pages/Shared/_LayoutIdentity.cshtml";
}

<div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow" style="width: 400px;">
        <div class="card-body">
            <h2 class="card-title text-primary mb-3 text-center">@ViewData["Title"]</h2>
            <p class="text-center text-muted">
                Vui lòng nhập email để đặt lại mật khẩu của bạn.
            </p>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <input asp-for="Input.Email" type="email"
                           class="form-control"
                           id="emailOrPhone"
                           placeholder="Email "
                           aria-label="Email"
                           autocomplete="username" aria-required="true">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="/Identity/Account/Login" type="button" class="btn btn-light">Hủy</a>
                    <button type="submit" class="btn btn-primary" style="background-color: #0d6efd;">Đặt lại mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>
