@page
@model ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
    Layout = "~/Areas/Identity/Pages/Shared/_LayoutIdentity.cshtml";
}

<div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow p-4" style="max-width: 400px; border-radius: 10px;">
        <div class="card-body text-center">
            <h2 class="card-title text-primary mb-3">@ViewData["Title"]</h2>
            <hr />
            <div class="mt-4">
                <p>
                    Mật khẩu của bạn đã được đặt lại.
                    <br>
                    <a asp-page="./Login">Vui lòng click tại đậy để đăng nhâp.</a>
                </p>
            </div>
        </div>
    </div>
</div>